@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Staatliches&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #121212;
  color: #b3b3b3;
}

.card-bg {
  background-color: #181818;
}

.text-primary {
  color: #ffffff;
}
.text-sec {
  color: #b3b3b3;
}

.bar {
  background-color: red;
}

.simple-bar-label {
  text-transform: uppercase;
  font-size: 0.5rem;
}

.graph-wrapper {
  height: 100%;
  width: 100%;
}

.banner-content {
  font-size: 0.95rem;
  line-height: 1.5rem;
}

.custom-border {
  box-shadow: 16px 16px 0px #bbfdce;
}
.pill {
  background: rgba(82, 119, 241, 0.34);
  border: 0.654952px solid #7e9cf4;
  box-sizing: border-box;
  border-radius: 22.9233px;
}

.select {
  font-size: 0.75rem;
}
