@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #121212;
  color: #b3b3b3;
  padding: 20px;
}

.card-bg {
  background-color: #181818;
}

.text-primary {
  color: #ffffff;
}
.text-sec {
  color: #b3b3b3;
}

.bar {
  background-color: red;
}

.simple-bar-label {
  text-transform: uppercase;
}

.graph-wrapper {
  height: 100%;
  width: 100%;
}
